.ImageCard {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;

  &__image {
    width: 100%;
    border-radius: 10px;
    background-color: lightgray;
  }

  &__wishlistIcon {
    width: 20px;
    height: 20px;
  }

  &__wishlistButton {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #2D9CDB;
    padding: 8px;
    border: none;
    border-radius: 10px;
    display: none;

    @media only screen and (min-width: 600px) {
      padding: 10px;
    }

    &--liked {
      display: block;
    }
  }

  &:hover {
    .ImageCard__wishlistButton {
      display: block;
    }
  }
}
